@model List<string>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Resimler</h1>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="images">Resim Seçin:</label>
        <input type="file" class="form-control-file" name="images" multiple required />
    </div>
    <button type="submit" class="btn btn-success">Yükle</button>
</form>
<hr />

<div class="row" id="imageContainer">
    @foreach (var image in Model)
    {
        <div class="col-md-3 image-item" data-image-name="@image">
            <img src="~/Resimler/@image" alt="Image" class="img-fluid" />
            <div class="mt-2">
                <span>@image</span>
                <a asp-action="Delete" asp-route-image="@image" class="btn btn-danger">Sil</a>
            </div>
        </div>
    }
</div>

<script>
    document.getElementById('search').addEventListener('input', function () {
        var searchTerm = this.value.toLowerCase();
        var images = document.querySelectorAll('.image-item');
        images.forEach(function (image) {
            var imageName = image.getAttribute('data-image-name').toLowerCase();
            if (imageName.includes(searchTerm)) {
                image.style.display = 'block';
            }
            else {
                image.style.display = 'none';
            }
        });
    });
</script>